# Ignore temporary board test and board display project classes
src/board-test/
src/board-display/

# Ignore yguard output
yguardlog.xml

# Ignore latex temp files
*.aux
*.log
*.out
*.soc
*.pdf
*.synctex.gz

# IntelliJ
.idea/
*.iml

# Ignore class files
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
